<div class="container">
  <div class="card">
    <div class="welcome-container">
      <h1>Welcome to Car Rental Application</h1>
      <p>Your trusted partner for car rentals.</p>
    </div>

    <div class="rental-info-container">
      <h2>Rent a Car Today!</h2>
      <p>Looking for a reliable car rental service? Our Car Rental Application offers a wide range of vehicles to suit your needs. Whether you're planning a short trip or need a car for an extended period, we have the perfect option for you. Explore our diverse fleet, enjoy flexible rental terms, and experience exceptional customer service. Start your journey with us today and drive away with confidence!</p>
    </div>

    <div class="registration-container">
      <a [routerLink]="['/customer']" class="btn btn-primary">Register as Customer</a>
      <p>Interested in listing your cars? <a [routerLink]="['/vendor']" class="btn-link">Register as Vendor</a></p>
    </div>
    <div class="already-account"> 
      <p>Already have account?<a [routerLink]="['/login']" class="btn-link">Login</a></p>
    </div>
    </div>
  </div>

