<div *ngIf="isAdmin">
    <h2>Admin Controls</h2>
    <button (click)="addNewCar()">Add New Car</button>
    <button (click)="manageSuppliers()">Manage Suppliers</button>
    <div *ngFor="let car of cars">
      <h3>{{ car.carName }}</h3>
      <p>{{ car.model }}</p>
      <button (click)="deleteCar(car.carid)">Delete Car</button>
    </div>
  </div>
  
  <div *ngIf="isVendor">
    <h2>Vendor Controls</h2>
    <button (click)="addCarListing()">Add Car </button>
    <div *ngFor="let car of cars">
      <h3>{{ car.carName }}</h3>
      <p>{{ car.model }}</p>
      <button (click)="deleteCar(car.carid)">Delete Car</button>
    </div>
  </div>
  
  <div *ngIf="isCustomer">
    <h2>Available Cars</h2>
    <div *ngFor="let car of cars">
      <h3>{{ car.carName }}</h3>
      <p>{{ car.model }}</p>
      <button (click)="bookCar()">Book a Car</button>
    </div>
  </div>
  
  <div *ngIf="!isAdmin && !isVendor && !isCustomer">
    <p>You do not have access to any special controls.</p>
  </div>
  